$colorBackground1: rgba(#f2f2f2, 1);
$colorBackground2: rgba(#fff, 1);
$colorBackground3: rgba(#17b978, 1);

$colorFont1: rgba(#086972, 1);
$colorFont2: rgba(#071a52, 1);
$colorFont3: rgba(#fff, 1);

$colorFontPrimary: rgba(#030f09, 1);
$colorFontSubtle: rgba(#a8a8a8, 1);
$colorFontGray: rgba(#606060, 1);
$colorFontNav: rgba(#767676, 1);

$borderColor1: rgba(#000000, 0.25);

$colorPrimary: rgba(#30be76, 1);
$colorSecondary: rgba(#30be76, 0.2);
