%green-button {
  font-weight: 500;
  color: $colorFont3;
  font-size: 2.8rem;
  background-color: $colorBackground3;
  width: 80%;
  height: 50px;
  border: none;
  border-radius: 5px;

  @media screen and (min-width: 350px) {
    max-width: 285px;
    max-height: 60px;
  }
}

%heading-1 {
  font-size: 4rem;
  color: $colorFontPrimary;
  font-weight: 600;
}

%heading-2 {
  font-size: 3.2rem;
  color: $colorFontPrimary;
  font-weight: 600;
}

%heading-3 {
  font-size: 2.4rem;
  color: $colorFontPrimary;
  font-weight: 600;
}

%text-gray {
  font-size: 1.6rem;
  color: $colorFontGray;
  font-weight: 400;
}

%text-subtle {
  font-size: 1.6rem;
  color: $colorFontSubtle;
  font-weight: 400;
}

%button-text {
  font-size: 1.8rem;
  color: $colorPrimary;
  font-weight: bold;
}

%elevation {
  background-color: $colorBackground2;
  box-shadow: 0 6px 20px rgba(#0d3320, 0.1);
  border-radius: 8px;
}

%card-item {
  font-size: 1.8rem;
  color: $colorFontPrimary;
  font-weight: 600;
}

%header-text {
  font-size: 4.2rem;
  color: $colorFont1;
  text-align: center;
  font-weight: bold;
}

%regular-text {
  font-size: 1.7rem;
  color: $colorFont2;
}

%green-text {
  font-size: 1.8rem;
  color: $colorFont1;
}

%input {
  background-color: $colorBackground2;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
