$colorBackground1: rgba(#f2f2f2, 1);
$colorBackground2: rgba(#fff, 1);
$colorBackground3: rgba(#17b978, 1);

$colorFont1: rgba(#086972, 1);
$colorFont2: rgba(#071a52, 1);
$colorFont3: rgba(#fff, 1);

$borderColor1: rgba(#000000, 0.25);
